<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.springboot1.book.mapper.BookMapper">
    <insert id="insertBook" >
        INSERT INTO book (name, price, num) VALUES (#{name}, #{price}, #{num})
    </insert>

    <delete id="deleteById">
        DELETE FROM book WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE book
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="num != null">num = #{num},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="com.ss.springboot1.pojo.Bookk">
        SELECT id, name, price, num FROM book WHERE id = #{id}
    </select>

    <select id="findAll" resultType="com.ss.springboot1.pojo.Bookk">
        select * from book
    </select>

    <select id="findByName" resultType="int">
        select count(*) from book where name=#{name}
    </select>
</mapper>